html, body, div, span, a, img, ul, li, footer, header, nav{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    background-image: linear-gradient(#2AC42A, #002155 65%);
    height: 100vh;
}

.btn {
    width: 102px;
    height: 33px;
    background-color: #0B1146;
    color: white;
    font-weight: bold;
    font-size: 14px;
    font-family: 'Play', sans-serif;
    cursor: pointer;
    transition: ease background 0.2s;
}

.btn:hover {
    background-color: #1b2794;
}

.hidden {
    display: none;
}

.game_players {
    padding-top: 20px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    padding-top: 27px;
}

.name_players {
    font-weight: bold;
    font-size: 17px; 
    font-family: 'Play', sans-serif;
    color: white;
    text-align: center;
}

.players {
    width: 89px;
    height: 20px;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    border: none;
}

#player1, #player2 {
    color: white;
}

.presentation_player {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 75vw;
}

.presentation_player p{
    color: whitesmoke;
}

.container_player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#player1Points, #player2Points {
    color: white;
    font-weight: bold;
    font-size: 2rem;
}

.game_board {
    background-color: #E5E5E5;
    width: 90%;
    height: auto;
    display: block;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}

.game_result {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: bisque;
    color: black;
    padding: 30px 10px 20px;
	border-radius: 10px;
	text-align: justify;
	width: 70%;
}
.game_result input {
	width: 30px;
	height: 30px;
	position: fixed;
	top: 0;
	right: 0;
	border: none;
	background: none;
	cursor: pointer;
}
section {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.game_result .flex {
    margin: 0 auto;
    text-align: center;
}
.game_result .flex img{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

/* game */
.piece {
    height: 40px;
    width: 40px;
    display: block;
    border-radius: 50%;
    margin: 0 auto;
}

h4 {
    color: white;
    font-family: Play, sans-serif;
}
.player0 {
    background-color: #DDDDDD;
    
}

.board_square {
    height: 32px;
    width: 32px;
}
.board_square:hover {
    cursor: pointer;
    background-color: rgba(58, 56, 56, 0.2);
}
#game_table {
    background-color: #D2A400;
}
td{
    border-right:1px solid black;
    border-bottom: 1px solid black;
}

.popup-player {
    background-color: #002155;
    width: 80%;
    margin: 0 auto;
    height: 368px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 35px;
}

.palete-and-button {
    height: 157px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.choice-player {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#playerOne {
    background-color: #F00;
    color: white;
}

#playerTwo {
    background-color: #000;
    color: white;
}

.palette-color {
    background-color: #D2A400;
    width: 179px;
    height: 106px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.color {
    width: 27px;
    height: 26px;
    border-radius: 50px;
    font-family: 'Play';
}

.columOne, .columTwo, .columThree {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

#lineOne-one {
    background-color: #0000FF;
    color: white;
    cursor: pointer;
}

#lineOne-two {
    background-color: #008000;
    color: white;
    cursor: pointer;
}

#lineOne-three {
    background-color: #800080;
    color: white;
    cursor: pointer;
}

#lineTwo-one {
    background-color: #000000;
    color: white;
    cursor: pointer;
}
#lineTwo-two {
    background-color: #41C741;
    color: white;
    cursor: pointer;
}
#lineTwo-three {
    background-color: #808080;
    color: white;
    cursor: pointer;
}
#lineThree-one {
    background-color: #FF0000;
    color: white;
    cursor: pointer;
}
#lineThree-two {
    background-color: #D18694;
    color: white;
    cursor: pointer;
}
#lineThree-three {
    background-color: #7C5539;
    color: white;
    cursor: pointer;
}

#start {
    width: 70px;
    height: 23px;
    font-family: 'Play';
    border-radius: 5px;
    background-color: #41C741;
    color: white;
    cursor: pointer;
    transition: ease background 0.2s;
}

#start:hover {
    background-color: #2b772b;
}

.palette-and-button {
    height: 161px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.name-color-player {
    color: white;
    font-size: 16px;
}

.game {
    display: none;
}

.initial {
    display: initial;
}

@media only screen and (min-width: 600px) {
    .piece {
        height: 70px;
        width: 70px;
    }
    .board_square {
        height: 80px;
        width: 80px;
    }
    .buttons {
        justify-content: space-evenly;
    }
    .presentation_player {
        width: 34vw;
    }
    .players {
        width: 105px;
        height: 32px;
        font-size: 19px;
    }
    .game_board {
        width: 65%;
        height: 550px;
        padding: 15px;
        margin-top: 50px;
    }
    .cell {
        width: 70px;
        height: 70px;
    }
    .game_result {
        width: 60%;
    }
    .players {
        width: 120px;
        height: 41px;
    }
    .popup-player {
        width: 29%;
        height: 485px;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .palette-color {
        width: 255px;
        height: 180px;
    }
    .color {
        width: 47px;
        height: 46px;
    }
    .palette-and-button {
        height: 249px;
    }
    #start {
        width: 123px;
        height: 40px;
        font-size: 22px; 
    }
    .name-color-player {
        font-size: 20px;
    }
}
