html, body, div, span, a, img, ul, li, footer, header, nav, section, img{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
@keyframes pisca {
    0% {opacity: 0.7;}
    50% {opacity: 1;}
    100% {opacity: 0.7;}
}
.pisca {
    animation-name: pisca;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
}
body {
    line-height: 1;
}
main {
    height: 83vh;
    background-image: linear-gradient(to bottom right, rgb(42 206 0), rgb(73 131 179), rgb(83 255 38));
}
main {
    display: flex;
    align-items: center;
    /* background-image: url('../img/Triforce.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; */
    z-index: 1;
}
ol, ul {
    list-style: none;
}
/* jogadores */
/* Regras gerais */
.hidden {
    display: none;
}
/* botões home */
.home_commands_button {
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 134px;
    align-items: center;
    font-family: 'Play', sans-serif;
}
.button_rules {
    width: 122px;
    height: 123px;
    border-radius: 74px;
    border: none;
    background-color: #0057DF;
    color: white;
    font-weight: bold;
    font-size: 17px;
}
.button_play {
    width: 191px;
    height: 182px;
    background-color: #0B1146;
    color: white;
    font-weight: bold;
    font-size: 25px;
    border-radius: 80px;
}
.credit {
    display: flex;
    height: 15vh;
    align-items: center;
    justify-content: center;
}
.credit_button {
    width: 122px;
    height: 123px;
    border-radius: 74px;
    border: none;
    background-color: #0057DF;
    color: white;
    font-family: 'Play', sans-serif;
    font-weight: bold;
    font-size: 17px;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 439px;
}
.container-buttons {
    /* background: #002155; */
    margin: 0px auto;
    display: block;
    height: 134px;
    width: 90vw;
}
/* Game setup - Palheta de cores (essa opção está como extra, se der tempo implantaremos essa opção)*/
/* Pop-up créditos */
/* Pop-up regras */
.game_rules{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: bisque;
    padding: 30px 10px 20px;
    border-radius: 10px;
    text-align: justify;
    width: 80%;
}
.game_rules input{
    width: 30px;
    height: 30px;
    position: fixed;
    top: 0;
    right: 0;
    border: none;
    background: none;
    cursor: pointer;
}
.game_rules p {
    line-height: 1.3rem;
    margin: 0;
    padding: 0;
}
.game_rules h4 {
    margin: 20px 0 10px 0 ;
}
/* créditos */
.credits {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: bisque;
    color: black;
    padding: 30px 10px 20px;
    border-radius: 10px;
    text-align: justify;
    width: 80%;
}
.credits input {
    width: 30px;
    height: 30px;
    position: fixed;
    top: 0;
    right: 0;
    border: none;
    background: none;
    cursor: pointer;
}
section {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.img-container{
   display: flex;
    justify-content: center;
    gap: 20px;
    margin: -40px;
    color: black;
}
.img-container img {
    width: 30px;
}
/* header */
header {
    width: 100%;
    height: 101px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #002155;
}
/* rodapé */
footer {
    width: 100%;
    height: 66px;
    background: #002155;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
}
/* botões página jogo */
@media only screen and (min-width: 600px) {
    .container-buttons {
        width: 34vw;
    }
    .home_commands_button {
        gap: 409px;
    }

    .button_play, .button_rules, .credit_button{
        cursor: pointer;
    }
}